/* You can add global styles to this file, and also import other style files */
:root {
  --bg: #0f172a;
  --card: #1e293b;
  --card-2: #334155;

  --primary: #3b82f6;
  --primary-hover: #2563eb;

  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;

  --text: #f1f5f9;
  --muted: #94a3b8;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}
